@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000ef;
  color: white;
}


.titulo {
  padding: 10px;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: black;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Alkatra', cursive;
  color: #e50914;
  cursor: pointer;
  font-weight: bold;
}

.favs {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  padding: 5px 14px;
  color: black;
  border-radius: 5px;
}

.homepage {
  padding: 0 127px;
}

.listaFilmes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 0;
  margin-bottom: 30px;
}

.listaFilmes.detail {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
  width: 50%;
  text-align: center;
  gap: 10px;
}

.listaFilmes.bookmarks {
  justify-content: center;
  gap: 20px 40px;
  margin-bottom: 20px;
}

.listaFilmes article {
  width: 280px;
}

.listaFilmes h3 {
  margin-bottom: 14px;
  text-align: center;
  font-size: 20px;
}

.listaFilmes img {
  width: 280px;
  height: 470px;
  border-radius: 8px;
  filter: brightness(100%);
  transition: all .5s ease;
}

.listaFilmes img:hover {
  filter: brightness(70%);
}

.listaFilmes .bookmarks-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.listaFilmes a.details,
.listaFilmes button.delete-fav {
  width: 130px;
  margin: 0;
  padding: 12px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: 4px;
  transition: all .3s;
}

.listaFilmes a.details {
  background-color: blue;
  color: white;
}

.listaFilmes a.details:hover {
  background-color: darkblue;
}

.listaFilmes button.delete-fav {
  background-color: rgb(218, 3, 3);
  color: white;
}

.listaFilmes button.delete-fav:hover {
  background-color: darkred;
}

.listaFilmes h4 {
  margin-top: 10px;
  font-size: 20px;
  font-style: italic;
}

.listaFilmes p {
  font-size: 20px;
}

.listaFilmes button {
  background-color: gainsboro;
  margin: 15px 0;
  font-size: 20px;
  border: 0;
  outline: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s;
}

.listaFilmes button.save-btn {
  background-color: green;
  color: white;
}

.listaFilmes button.save-btn:hover {
  background-color: darkgreen;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 30px;
  font-family: 'Alkatra', cursive;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.welcome h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.welcome .reactflix {
  color: #e50914;
}

.welcome h2 {
  font-size: 30px;
  margin-bottom: 35px;
}

.welcome a {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  background-color: #e50914;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  transition: .3s all ease;
}

.welcome a:hover {
  background-color: #c11119;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.not-found {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found h1 {
  font-size: 150px;
}

.not-found h3 {
  font-size: 25px;
}

.not-found a {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 14px;
  border-radius: 5px;
  font-size: 17px;
}

h1.title {
  text-align: center;
  margin: 50px 0 40px 0;
  font-size: 50px;
  font-family: 'Alkatra', cursive;
}

.maisfilmes {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  background-color: blue;
  color: white;
  font-size: 25px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.maisfilmes:hover {
  background-color: darkblue;
}

.wrap {
  width: 280px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap h2 {
  display: inline-block;
  text-align: center;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.favmovies-counter-badge {
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 2px;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
  min-width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}